@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #ffffff;
}

body {
    background-color: #080D16;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #ffffff;

}

a:hover {
    color: #0056C7;
}

ul {
    list-style: none;
}